[data]
    name = "teemobean"
    email = "teemobean@gmail.com"
    name_msft = "timngmsft"
    email_msft = "73502158+timngmsft@users.noreply.github.com"
    name_emu = "Timothy Ng"
    email_emu = "Ng.Timothy@microsoft.com"

[data.machine]
    brew_path = '{{ if eq .chezmoi.arch "amd64" }}/usr/local/bin{{ else }}/opt/homebrew/bin{{ end }}'
